/* Resetting some default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body Styling */

body {
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  background: #efebe2;
}

/* Header Styling */

.header {
  background-color: #efebe2;
  font-family: Roboto, sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
  
}

.header-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 40px;
  margin-right: 10px;
}

.logo-text{
  display: flex;
  flex-direction: column;
}

.logo span {
  font-weight: bold;
  font-size: 1.2rem;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.user-pic {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 10px;
  cursor: pointer;
}

.sub-menu-wrap {
  position: absolute;
  top: 100%;
  right: 0;
  width: 250px;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
  z-index: 3;
}

.sub-menu-wrap.open-menu {
  max-height: 400px;
}

.sub-menu {
  background-color: #f1f0f0;
  padding: 20px;
  margin: 10px;
}

.user-info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-info h3 {
  font-weight: 500;
}

.user-info img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 10px;
}

.sub-menu hr {
  border: 0;
  height: 1px;
  width: 100%;
  background: #ccc;
  margin: 15px 0 10px;
}

.sub-menu-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #525252;
  margin: 12px 0 !important;
}

.sub-menu-link p {
  width: 100%;
}

.sub-menu-link img {
  width: 30px;
  height: 30px;
  padding: 4px;
  margin-right: 15px;
}

.sub-menu-link .heart  {
  border-radius: 0;
  background-color: transparent;
}

.sub-menu-link span {
  font-size: 1.5rem;
  transition: transform 0.5s;
}

.sub-menu-link:hover span {
  transform: translateX(5px);
}

.sub-menu-link:hover p {
  font-weight: 600;
}

.nav a {
  text-decoration: none;
  color: #333;
  margin: 0 15px;
  font-size: 1rem;
}

.nav a.active {
  color: #D35400;
  border-bottom: 2px solid #D35400;
  padding-bottom: 5px;
}

.header-buttons {
  display: flex;
  align-items: center;
}

.header-buttons button {
  border: none;
  margin-left: 10px;
  cursor: pointer;
  font-size: 1rem;
}

.search-btn {
  border-radius: 16px;
  background: #26252214;
  height: 37px;
  width: 37px;
  padding: 8px;
  gap: 10px;
}

.register-btn {
  background-color: #D3D3D3;
  padding: 10px 20px;
  color: #333;
  border-radius: 20px;
}

.login-btn {
  background-color: #333;
  padding: 10px 20px;
  color: white;
  border-radius: 20px;
}

.hero {
  position: relative;
  height: 70vh;
  background-image: url('/images/hero_section.png');
  background-size: cover;
  background-position: center;
  display: flex;
  border-radius: 20px;
  margin-top: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #26252299;
  border-radius: 20px;
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;
  max-width: 869px;
  color: white;
}

.hero h1 {
  color: #F0EBE1;
  font-size: 78px;
  line-height: 80px;
  width: auto;
  font-weight: 800;
  font-family: Montserrat;
  text-align: center;
  opacity: 100%;
}

.hero p {
  font-size: 1.2rem;
  margin: 20px 0;
}

.cta-btn {
  padding: 10px 20px;
  background-color: #D35400;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1rem;
}

.featured-recipes{
  padding-top: 20px;
  text-align: left;
}

.featured-recipes h2{
  font-family: Montserrat;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  margin: 20px;
}

.featured-recipes-container {
  border: 1px solid #2625223D; 
  border-radius: 32px; 
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto; 
}

.recipe-carousel{
  display: flex;
  justify-content: center;
  gap: 2rem;
  overflow: hidden;
  max-width: 100%;
}

.recipe-card {
  position: relative;
  width: 100%;
  height: 437px;
  max-width: 1200px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.recipe-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  display: block;
}

.recipe-content {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  padding: 1.5rem;
  color: black;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  background-color:#FFFBF2;
}

.recipe-content h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.recipe-content p {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.recipe-content button {
  padding: 0.5rem 1rem;
  border: 1px solid #262522;
  background: transparent;
  border-radius: 4px;
  color: #262522;
  cursor: pointer;
  transition: background 0.3s;
}

.recipe-content button:hover {
  background: white;
  color: #333;
}

/* Special Badge Styling */
.special-badge {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #A0D468;
  color: F0EBE199;
  padding: 5px 10px;
  border-radius: 50%;
  font-size: 0.75rem;
  font-weight: bold;
}

/* Title Section */
.title-section {
  padding: 64px, 64px, 48px, 64px;
  gap: 12px;
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.title-section h1 {
  font-size: 3.5rem;
  font-weight: 800;
  line-height: 1.2;
  color: #262522;
}

.title-section .line-one,
.title-section .line-two {
    display: inline-block;
    text-align: left;
    width: 100%;
}

.title-description {
    font-size: 21px;
    font-family: Roboto, sans-serif;
    color: #26252299;
    max-width: 600px;
    line-height: 29.4px;
    font-weight: 400;
    text-align: right;
    vertical-align: middle;
}

.embark-journey{
  text-align: center;
  display: flex;
  justify-content: center;
}

.journey-tag{
  background-color: #EE6352;
  border-radius: 12px;
  padding: 4px 8px 4px 8px;
  color: #F0EBE1;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  width: 72px;
  height: 24px;
  gap: 10px;
}

.embark-journey h2{
  margin-top: 10px;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 1%;
  color: #262522;
}

.text-wrapper{
  gap: 8px;
}

.copy-wrapper{
  gap:12px;
  width: 426px;
}

.copy-wrapper p{
  margin-top: 10px;
}

.filter-buttons{
  display: flex;
  justify-content: center;
  gap: 16px;
  opacity: 0px;
  padding: 40px;

}

.filter-btn.active,
.filter-btn:hover {
    background-color: #D35400;
    color: white;
}

.filter-btn{
  padding: 12px 24px 12px 24px;
  gap: 10px;
  border-radius: 24px;
  border: 1px solid #26252266;
  font-family: Roboto, sans-serif;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
}

.recipe-grid {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 2rem;
  margin-top: 2rem;
}

.recipe-card{
  background: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.recipe-content {
  padding: 1rem;
  text-align: left;
}

.recipe-content h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.recipe-content p {
  font-size: 0.9rem;
  color: #666;
}

.recipe-content button {
  padding: 0.5rem 1rem;
  border: 1px solid #333;
  background: transparent;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s;
}

.recipe-content button:hover {
  background: #333;
  color: #fff;
}

/* Footer Styling */

.footer {
  background-color: #797877;
  color: #F0EBE199; 
  margin-top: 70px;
  margin-bottom: 20px;
  padding: 2rem 1rem;
  font-family: 'Roboto', sans-serif;
  border-radius: 50px; 
  border: 1px solid rgba(38, 37, 34, 0.24), ;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
  gap: 1rem;
}

.footer-logo img {
  height: 40px;
  width: auto;
  color: #F0EBE199;
  margin-right: 15px;
}

.footer-logo{
  display: flex;
  align-items: center;
}

.footer-nav {
  display: flex;
  gap: 2rem;
}

.footer-nav a {
  color: #F0EBE199;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s;
}

.footer-nav a:hover {
  color: #D35400;
}

.footer-social a img {
  width: 24px;
  height: 24px;
  transition: transform 0.3s;
}

.footer-social a:hover img {
  transform: scale(1.1);
}

.footer-bottom {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin-top: 1rem;
  font-size: 0.9rem;
  color: #F0EBE199;
}

.viewmoreButton{
  padding: 10px 20px;
  background-color: #D35400;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1rem;
}

.buttoncenter{
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 30px;
}

/* add_recipe */

.recipe-page {
  padding: 20px;
  border-radius: 32px;
  border: 1px solid #2625223D
}

.recipe-header {
  text-align: center;
  display: flex;
  justify-content: center;
}

.tag {
  background-color: #EE6352;
  border-radius: 12px;
  padding: 4px 8px 4px 8px;
  color: #F0EBE1;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  width: 72px;
  height: 24px;
  gap: 10px;
}

.title {
  font-size: 80px;
  font-weight: 800;
  line-height: 80px;
  font-family: Montserrat;
  text-align: center;
  width: 870px;
  padding: 20px;
}


.recipe-info {
  color:#262522;
  gap: 24px;
  font-size: 0.9rem;
}

.recipe-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  max-width: 80%; 
  height: 600px; 
  overflow: hidden; 
  border-radius: 24px; 

}

.recipe-image {
  width: 100%; 
  height: 100%;
  object-fit: cover; 
}

.instruction-section{
  display: flex;
  flex-direction: space-between;
  align-items: flex-start;
  width: 100%;
  padding: 0 50px;
  margin-top: 30px;
}

.instruction-content{
  max-width: 500px;
}

.instruction-title {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 1%;
  margin-bottom: 10px;
  padding-top: 25px;
  padding-bottom: 10px;
  color: #333333;
}

.edit-instructions, .edit-pic-des{
  font-size: 16px;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  line-height: 22.4px;
  color: #333333CC;
  letter-spacing: 1%;
}

.info-boxes{
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 35%;
  margin-top: 12px;
  max-width: 350px;
  margin-left: auto;
}

.info-box{
  background-color: #FFFBF2;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.info-box h3{
  font-size: 1.1rem;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 2%;
  padding-bottom: 10px;
  color: #ff6b6b;
}

.info-box ul{
  list-style-type: circle;
  padding-left: 10px;
  margin: 0;
}

.info-box ul li, .info-box p {
  font-size: 14px;
  color: #262522;
  line-height: 1.5;
}

.info-box p {
  margin: 5px 0;
}

.comment-section {
  display: flex;
  flex-direction: column;
  padding: 50px;
  border-radius: 50px;
  border: 1px solid rgba(38, 37, 34, 0.24);
}

.comment-section h4 {
  font-size: 2rem;
}

.comment-box {
  display: flex;
  flex-direction: column;
}

.comment-box textarea {
  max-width: 500px;
  height: 50px;
  padding: 10px;
  border-radius: 10px;
  margin-block: 20px;
}

.comment-box a {
  width: 150px;
  height: 30px;
  border-radius: 5px;
  background-color: #f75e4a;
  color: #F0EBE1;
  font-size: 1rem;
  cursor: pointer;
  margin-bottom: 35px;
}

.comment-box button {
  width: 150px;
  height: 30px;
  border-radius: 5px;
  background-color: #f75e4a;
  color: #F0EBE1;
  font-size: 1rem;
  cursor: pointer;
  margin-bottom: 35px;
}

.comment-box button:hover {
  background-color: #f1a674;
  color: #000;
  font-weight: 700;
}

.comment {
  margin-block: 20px;
}

.comment strong {
  color: blueviolet;
}

.comment button {
  width: 50px;
  height: 20px;
  margin-left: 25px;
  border-radius: 5px;
  border: 1px solid #333;
  background-color: red;
  color: #fff;
  font-style: italic;
  cursor: pointer;
}

.comment button:hover {
  background-color: #e24631;
  color: #000;
}

@media (max-width: 768px) {
  .instructions-section {
      flex-direction: column;
  }

  .instruction-content, .info-boxes {
      width: 100%;
      max-width: none;
  }

  .info-boxes {
      margin-left: 0;
  }
}

.note{
  color: #33333399;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 14.4px;
  letter-spacing: 0.01em;
  text-align: left;
}

.subtitle-instructions{
  padding-bottom: 15px;
  color: #EE6352;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.02em;
}

.instruction-list{
  padding-left: 20px;
  margin: 0;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 22.4px;
  letter-spacing: 0.01em;
  color: #333333CC;
}

.instruction-list-numbered{
  list-style-type: upper;
  padding-left: 20px;
  margin: 0;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 22.4px;
  letter-spacing: 0.01em;
  color: #333333CC;
}

.pairing-list{
  margin: 0;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 22.4px;
  letter-spacing: 0.01em;
  color: #333333CC;
}

.link-text{
  text-decoration: underline;
  color: #EE6352;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.2px;
  letter-spacing: 1%;
}

.bio-section{
  display: flex;
  align-items: center;
  width: 100%;
}

.bio-content h4{
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.2px;
  letter-spacing: 0.01em;
  color: #33333399;
}

.bio-content h4, .bio-content p{
  padding-left: 50px;
}

.learn-more-btn{
  margin-top: 20px;
  border-radius: 24px;
  border: 1px solid #262522;
  background-color: #F0EBE1;
  padding: 12px 24px 12px 24px;
  margin-left: 50px;
}

.seperation-line{
  color: #26252214;
  width: 648px;
  height: 0px;
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  margin-bottom: 40px;
}

.author-photo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; 
  border-radius: 12px;
  transform: scale(1.5); 
}

.author-photo{
  object-fit: cover;
  width: 100%;
  height: auto;
  transform: scale(1.5);
}

.recipe-list {
  margin-top: 20px;
  font-size: 2rem;
}

.recipe-item {
  margin: 10px 0;
}

.recipe-link {
  text-decoration: none;
  color: red;
  transition: color 0.2s;
}

.recipe-link:hover {
  color: #0056b3;
}

/* Add Recipe CSS */

.my-recipes {
  margin: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.recipeList {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 20px;
}

.recipeList h3 {
  text-align: center;
  font-size: 1.5rem;
  color: #D35400;
}

.recipeList p {
  font-size: 1.20rem;
  text-align: center;
  margin-block: 8px;
}

.add-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-content {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.add-content h2 {
  margin-bottom: 30px;
}

.add-content label {
  margin-bottom: 8px;
  font-size: 1.25rem;
  font-weight: 400;
  font-style: italic;
}

.add-content .rep-name {
  margin-bottom: 20px;
  padding: 10px;
  max-width: 430px;
  height: 30px;
  font-size: 1rem;
  border-radius: 10px;
  border: 1px solid #353432;
}

.add-content .rep-steps {
  margin-bottom: 20px;
  padding: 10px;
  max-width: 430px;
  height: 200px;
  font-size: 1rem;
  border-radius: 10px;
  border: 1px solid #353432;
  resize: vertical;
}

.add-content .rep-desc {
  margin-bottom: 20px;
  padding: 10px;
  max-width: 430px;
  height: 60px;
  font-size: 1rem;
  border-radius: 10px;
  border: 1px solid #353432;
  resize: vertical;
}

.add-content .rep-ing {
  margin-bottom: 20px;
  padding: 10px;
  max-width: 430px;
  height: 100px;
  font-size: 1rem;
  border-radius: 10px;
  border: 1px solid #353432;
  resize: vertical;
}

.add-content button {
  width: 150px;
  height: 30px;
  border-radius: 5px;
  background-color: #f75e4a;
  color: #F0EBE1;
  font-size: 1rem;
  cursor: pointer;
  margin-bottom: 35px;
}

.add-content button:hover {
  background-color: #f1a674;
  color: #000;
  font-weight: 700;
}